# --- IDE / Visual Studio md ---
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.user
*.suo
*.VC.db
*.VC.opendb
*.opendb
*.db-shm
*.db-wal

# --- IntelliSense / PCH cache ---
ipch/
*.ipch
*.pch
*.aps

# --- Build ---
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Debug*/
Release*/
x64/
x86/
[Ww]in32/
*.obj
*.o
*.iobj
*.pdb
*.ipdb
*.ilk
*.exp
*.exe
*.dll
*.lib
*.idb
*.tlog
*.lastbuildstate
*.cache
*.log
*.tmp
*.rsp
*.recipe
*.tlog/

# --- IDE ---
.vscode/

# --- Windows OS ---
Thumbs.db
Desktop.ini

# --- Project ---
dependencies

# --- Editor ---
!Ionix 2 - Editor/
!Ionix 2 - Editor/*
!Ionix 2 - Editor/**/*

# --- Misc ---

.idea/
imgui.ini
dependencies/bin/imgui/obj/
dependencies/bin/imgui/bin/
libengine.so
nobuild.exe.old
nobuild
nobuild.old
Client/*
!Client/Scripts/
!Client/Scripts/*.lua
!Client/Assets/
!Client/Assets/*.png
Client/Scripts/Settings.lua

# --- Firebase C++ SDK (track only what we need) ---
!/dependencies/
!/dependencies/bin/
!/dependencies/bin/firebase_cpp_sdk/
!/dependencies/bin/firebase_cpp_sdk/include/**

# Track only the libs we link against (avoid huge libs)
!/dependencies/bin/firebase_cpp_sdk/libs/windows/VS2019/MD/x64/Release/firebase_app.lib
!/dependencies/bin/firebase_cpp_sdk/libs/windows/VS2019/MD/x64/Release/firebase_database.lib

# Ignore everything in Firebase SDK by default
/dependencies/bin/firebase_cpp_sdk/**

# But keep headers + the two libs we need
!/dependencies/bin/firebase_cpp_sdk/include/**
!/dependencies/bin/firebase_cpp_sdk/libs/windows/VS2019/MD/x64/Release/firebase_app.lib
!/dependencies/bin/firebase_cpp_sdk/libs/windows/VS2019/MD/x64/Release/firebase_database.lib